@import url(//db.onlinewebfonts.com/c/1d1eb63257edb5f858151563c6220e69?family=BureauGrotesque);
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.about-page
{
    min-height: 100vh;
    padding: 20px 10px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    background-image: url('../../../assets/time-bg_blur.jpg');
    background-position:100%;
    background-size: cover;
    background-repeat:no-repeat ;
    /* filter: blur(5px); */
    /* background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%); */
    /* background-image: linear-gradient(-90deg, #ff5858 0%, #f09819 100%); */
}

.about-box
{
    width: 60%;
    margin-top: 20px;    
    margin-bottom: 30px;
    padding: 20px;
    border-left: 20px solid #ffffff;
    border-radius: 12px;
    text-align: left;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    /* background: linear-gradient(145deg, #00c282, #00e79a); */
    /* box-shadow:  24px 24px 56px #00b87a, -24px -24px 56px #00f8a6; */
    /* border-radius: 50px; */  
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}


.about-title
{
    font-family: "BureauGrotesque-OneSeven", Impact, sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    margin-left: 30px;
}

/* .about-title::before
{
    content: "\201C";
    margin-right: 5px;    
} */

.about-content
{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 27px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.about-content>a {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);

}

.about-minds-logo 
{
    position: relative;
    top: 0;
    left: 0;
    margin: -2px 5px ;
    float: left !important;
}

.about-minds-logo img
{
    height: auto;
    width: 200px;
}

@media only screen and (max-width: 768px) 
{
    .about-box
    {
        width: 96%;
        padding: 15px 5px;
        margin-top: 30px;
        border-left: 20px solid #fafafa;

    }

    .about-title
    {
        font-size: 35px;
        color: white;
    }

    .about-content
    {
        font-size: 16px;
        margin-left: 10px;
        color: white;
    }
}
