@import url('http://fonts.cdnfonts.com/css/mohave');

.schedule-minds-logo
{
  position: relative;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 10px;
  z-index: 1000;
  /* float: left; */
}

.schedule-minds-logo img
{
  height: auto;
  width: 200px;
}
.schedule-title
{
  margin: 20px 10px;
  font-size: 35px;
}

.schedule-title h4
{
    /* margin: 20px 10px; */
  font-size: 45px !important;
  color: rgb(255, 255, 255) !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  font-weight: 700 !important;
  text-transform: capitalize;                                                
}


@media screen and (max-width: 992px) 
{
    #tableContainer
    {
        width: 100% !important;
    }
}