*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
    scroll-behavior: smooth !important;
}

body
{
    background: #000046;  
    background-image: radial-gradient(circle, #1cb5e0, #0087c0, #005a9c, #002f73, #000046);
    scroll-behavior: smooth !important;
}