@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.main-page
{
    height: 100vh;
    background-color: #002e69;
    scroll-behavior: smooth;
    background-image: url('../../../assets/time-bg-2-min.jpg');
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-anim-title
{
    color: white !important;
}

.clg-name
{
    font-size: 35px !important;
    font-family: 'Rambla', sans-serif !important;
    letter-spacing: 1px;
}

.caa-name
{
    font-size: 22px !important;
    font-family: 'Roboto', sans-serif !important;
    /* font-family: 'Kaushan Script', sans-serif !important; */
    font-weight: 500;
}


.main-page-logo-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    /* background-color: red; */
    text-align: center;
}
.main-page-minds-logo
{
    z-index: 1000;
    width: 900px;
    height: auto;
}

a.read-more-btn
{
    background: transparent;
    color: white;
    border: 2px solid white;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 10px 30px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    overflow: hidden;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    scroll-behavior: smooth;
}


a.read-more-btn:hover
{
    color: black;
    background-color: rgb(255, 255, 255);
}
  



@media only screen and (max-width: 768px) 
{
    .main-page-minds-logo
    {
        width: 300px;
        height: auto;
    }

    #home-page-particles  > div:first-child
    {
        height: 100vh;
    }

    .clg-name
    {
        padding: 5px;
        font-size: 27px !important;
    }

    .caa-name
    {
        font-size: 18px !important;
        padding: 5px;
    }
    
}